
# Node.js
node_modules/
dist/
build/
coverage/
.nyc_output/
*.log
*.local

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.env
.python-version

# Editor/IDE
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
jspm_packages/
bower_components/
*.pem
*.p12
*.key
*.crt
*.jks

